menu "PMS1003"
config PMS1003_AFTER_AWAKE_DELAY_MS
    int "Delay after awake"
    default 30000
    range 0 4294967295
    help
        Delay after sleep before get measurement in milliseconds. If zero, delay is disabled.

config PMS1003_DEFAULT_PERIOD_MS
    int "Sensor default period (ms)"
    default 60000
    range 0 4294967295
    help
        Default data acquisition period in milliseconds.

config PMS1003_USE_HW_CTRL
    bool "Use hardware controll signals"
    default false
    help
        If set, sensor will reset, sleep, awake using the sensor pins SET and RST.
        If not set, sleep and reset operations are done with serial commands.
endmenu
