menu "TSL2591"

config TSL2591_USE_DATA_STORAGE
    bool "Sensor data storage"
    default false
    help
        Let sensor data be stored.

config TSL2591_USE_CONF_STORAGE
    bool "Sensor configurations storage"
    default false
    help
        Let sensor data be stored and updated.

config TSL2591_DEFAULT_PERIOD_MS
    int "Sensor default period (ms)"
    default 60000
    range 0 4294967295
    help
        Default data acquisition period in milliseconds.

config TSL2591_DEFAULT_SAMP_FILTER
    int "Sensor default sample filter"
    default 1
    range 0 2000
    help
        Default data filtering in sample number.

endmenu
