menu "YF-B6"

config YF_B6_DEFAULT_ATT
    int "Default ADC attenuation"
    default 0
    range 0 3
    help
        Initial attenuation value. 0 - 0dB, 1 - 2.5dB, 2 - 6dB, 3 - 11dB.

config YF_B6_DEFAULT_PERIOD_MS
    int "Sensor default period (ms)"
    default 30000
    range 0 4294967295
    help
        Default data acquisition period in milliseconds.

config YF_B6_SUPPLY_VOLTAGE
    int "Sensor supply voltage (mV)"
    default 5000
    range 0 4294967295
    help
        Measured supply voltage

endmenu
